.header{
    background-color: transparent !important;
    color: white !important;
    padding: 30px 0px !important;
}
.header a img{
    width: 20px !important;
}
.header a{
    color: white;
    text-decoration: none;
}
.header a.active{
    color: var(--primary-color) !important;
}
.center-logo-container{
    width: 15%;
}
.center-logo{
    width: 100%;
}
@media (max-width:992px) {
    .mobile{
      flex-direction: column !important;
      align-items: flex-start !important;
      justify-content: flex-start !important;
    }
    .mobile a{
        display: block;
        width: 100% !important;
    }
}
.bottom-content{
    margin-top: 20px;
}
@media (max-width:386px) {
    .bottom-content a.text-white.mx-3{
        font-size: 15px !important;
        margin-right: 8px !important;
        margin-left: 8px !important;
    }
}
.dropdown img{
    width: 20px !important;
}


header .navbar .navbar-toggler {
    filter: invert(1);
    box-shadow: none !important;
    outline: none !important;
    padding: 4px;
}